/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}

header {
    background-color: crimson;
    height: 4rem;
    padding: 1rem;
    line-height: 2rem;
    border-bottom: 2px solid black;
}

header h1 {
    float: left;
    margin: 0;
    font-size: 2rem;
}
header h1:hover {
    cursor: default;
}

a {
    text-decoration: none;
    color: black;
}

.links {
    margin: 0;
    float: right;
    list-style-type: none;
}

.links li {
    display: inline;
    margin-right: 3rem;
    font-size: 1.5rem;
}
.links li a:hover {
    transition: 0.3s;
    color: gold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.links li button:hover {
    transition: 0.3s;
    color: gold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.links button {
    background: none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size: 1.5rem;
}



.posts h3 {
    text-align: right;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.post {
    background-color: crimson;
    width: 40%;
    height: 6rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 0px 0px 2px 2px;
}

.post button {
    margin-left: 29rem;
}

#login, #register, #new-post {
    text-align: center;
}
#login a, #register a {
    color: crimson;
}
.form {
    border: 1px solid black;
    border-radius: 1rem;
    width: 40%;
    margin: auto;
    background-color: crimson;
    box-shadow: 0px 0px 5px 2px;
}
.form input {
    margin: 1rem;
}
.form button {
    margin: 1rem;
}
#new-post textarea {
    margin: 1rem 0 0;
    height: 5rem;
    width: 75%;
}
#new-post button {
    width: 10rem;
    height: 3rem;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.modal-open textarea {
    width: 100%;
}


@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
        float: right;
        margin-top: 1.2rem;
        margin-right: 1rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .links {
        display: flex;
        position: fixed;
        left: -150%;
        top: 98px;
        gap: 0;
        flex-direction: column;
        background-color: crimson;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .links li {
        margin: 16px 0;
    }

    .links.active {
        left: 0;
        padding: 0;
    }
}